<%- include('./includes/head') %>
<div class="jumbotron">
<form method="POST" class="form-control">
  <br>
<input name="author" type="text" placeholder="Paste Author" class="form-control" required />
  <br>
<textarea name="paste" type="text" placeholder="Paste " class="form-control" required ></textarea>
  <br>
<select name="pastelang" class="nego" id="nego">
  <option value="Javascript">Javascript</option>
  <option value="Python">Python</option>
  <option value="HTML">Html</option>
  <option value="CSS">Css</option>
  <option value="Txt">Text</option>
  <option value="kt">Kotlin</option>

 

 
 
  
  
  </select>
  <br>
  <br>
<button type="submit" class="btn btn-success">Share</button>
  
</form>
  </div>
<br>

<br>

<br>
<div class="jumbotron form-control">
Paste's Database Size:
  <br>
  <%= negoSize %>
  <br>
Database Version : 
  <br>
  <%= dbVersion %>
  <br>
</div>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
<script>
new SlimSelect({
  select: '#nego'
})
</script>